Client Index <br>
/clients/:id <br>
clients/show.html.erb <br>

<h1>Client's Home</h1>

<h2>Link to My Journal /clients/:client_id/entries</h2>
<h2>Link to Create New Entry /clients/:client_id/entries/new</h2>
<h2>Link to My Programs /clients/:client_id/programs</h2>