Trainer Index <br>
/trainers/:id <br>
trainers/show.html.erb <br>

<h1>Trainer's Home</h1>

<h2>Link to All My Clients /trainers/:trainer_id/clients</h2>
<h2>Link to My Media Library ??/exercises/:exercise_id/media??</h2>


